.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    width: 400px;
    overflow-y: scroll;
    position: fixed;
    bottom: 30px;
    right: 32vw;
    z-index: 2;
    border-radius: 10px;
    color: black;
    gap: 10px;
    font-size: 13px;
    text-align: center;
    padding-inline: 30px;
    opacity: 0.8;

    img {
       width: 30px;

    }
  }

  .wrapper:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }
  